/* SimplonNorm-Regular */
@font-face {
	font-family: 'SimplonNorm-Regular';
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Regular-WebS.eot");
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Regular-WebS.eot?#iefix") format("embedded-opentype"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Regular-WebS.woff") format("woff"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Regular-WebS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* SimplonNorm-Light */
@font-face {
	font-family: 'SimplonNorm-Light';
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Light-WebS.eot");
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Light-WebS.eot?#iefix") format("embedded-opentype"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Light-WebS.woff") format("woff"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Light-WebS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* SimplonNorm-Bold */
@font-face {
	font-family: 'SimplonNorm-Bold';
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Bold-WebS.eot");
	src: url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Bold-WebS.eot?#iefix") format("embedded-opentype"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Bold-WebS.woff") format("woff"), url("http://content.dowjones.com/en/simplon-web-fonts/SimplonNorm-Bold-WebS.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}